@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Warm white background */
    --background: 30 30% 99%;
    --foreground: 30 10% 7%;

    --card: 30 30% 100%;
    --card-foreground: 30 10% 7%;
    --popover: 30 30% 100%;
    --popover-foreground: 30 10% 7%;

    /* Adjusted accent color for better contrast with warm background */
    --primary: 15 100% 50%;
    --primary-foreground: 30 30% 99%;

    --secondary: 30 30% 96%;
    --secondary-foreground: 30 10% 7%;
    --muted: 30 30% 96%;
    --muted-foreground: 30 10% 40%;
    --accent: 30 30% 96%;
    --accent-foreground: 30 10% 7%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 30 30% 99%;
    --border: 30 30% 90%;
    --input: 30 30% 90%;
    --ring: 15 100% 50%;
    --radius: 0rem;
  }

  .dark {
    --background: 30 10% 7%;
    --foreground: 30 30% 99%;
    --card: 30 10% 7%;
    --card-foreground: 30 30% 99%;
    --popover: 30 10% 7%;
    --popover-foreground: 30 30% 99%;
    --primary: 15 100% 50%;
    --primary-foreground: 30 10% 7%;
    --secondary: 30 10% 15%;
    --secondary-foreground: 30 30% 99%;
    --muted: 30 10% 15%;
    --muted-foreground: 0 0% 75%;
    --accent: 30 10% 15%;
    --accent-foreground: 30 30% 99%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 30 30% 99%;
    --border: 30 10% 20%;
    --input: 30 10% 20%;
    --ring: 15 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-manrope);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .font-mono {
    font-family: var(--font-space-mono);
  }
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
  }
}
